<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Node &amp; Express REST API</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />    
    <style>
        body {padding: 40px;}
        a>i { font-size: 3rem !important; margin-right: 10px !important;}
        .jumbotron { padding-bottom: 20px !important;}
    </style>
</head>
<body>
    <main class="container-lg">
        <header class="jumbotron">
            <h1 class="display-2">GET</h1>
            <h2>example for honours project</h2>
        </header>
        <section class="container-fluid">
            <section>
                <h3>Introduction</h3>
                <p>An example...</p>
            </section>
            <hr>
    </main>
</body>
</html>